@font-face {
	font-family: 'Flappy-Bird';
	src: url('../source/Flappy-Bird.ttf') format(TrueType);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Flappy-bird',sans-serif;
}

.fundo {
	height: 100vh;
	width: 100vw;
	background: url("../img/background-img.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pássaro {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}

.tubo_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}

.mensagem {
	position: absolute;
	z-index: 10;
	color: #FFF;
	top: 30%;
	left: 50%;
	font-size: 4em;
	transform: translate(-50%, -50%);
	text-align: center;
}

.estilo_mensagem {
	background: #FFC222;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;
	border-color: #000;
}

.pontuação {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
}

.valor_pontuação {
	color: gold;
	font-weight: bold;
}

@media only screen and (max-width: 1080px) {

    .mensagem{
		font-size: 50px;
		top: 50%;
		white-space: nowrap;
	}
	.pontuação{
		font-size: 8vh;
	}
	.pássaro{
		width: 120px;
		height: 90px;
	}
	.tubo_sprite{
		width: 14vw;
	}
}